@page
@model Teacher.AddServerModel
@{
    ViewData["Title"] = "Add Discord Server to course";
}


<h1 class="display-4">Add</h1>

<table class="table table-striped border align-middle shadow-sm rounded">
    <thead class="table-light">
        <tr>
            <th>Server Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var server in Model.Servers)
        {
            <tr>
                <td>@server.Name</td>
                <td>
                    <form method="post" asp-page="/Teacher/AddServer">
                        <input type="hidden" name="serverId" value="@server.Id" />
                        <input type="hidden" name="courseId" value="@Model.CourseId" />
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Is your Server not in the list?</p>
<a href="@Model.InviteURL" class="btn btn-primary" target="_blank">Invite our Discord bot</a>