@page
@model CreateCourseModel
@{
    ViewData["Title"] = "Create Course";
}

<div class="text-center">
<h1 class="display-4">Create Course</h1>   
    <div>
        <form method="post">
            <label asp-for="@Model.Name">Course Name</label>
            <input asp-for="Name" type="text" required />

            <label asp-for="@Model.GroupSize">Choose Group Size limit</label>
            <input asp-for="GroupSize" type="number" min="2" max="20" required />

            <label asp-for="@Model.AllowCustomSize">Allow Custom Group Sizes?</label>
            <input asp-for="AllowCustomSize" class="form-check-input" />

            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
