@page
@model Teacher.SplitGroupModel
@inject UserService userService;
@{
    ViewData["Title"] = "Split Group";
}

<a class="nav-link" href='javascript:history.go(-1)'>Go Back</a>

@if (Model.Group is not null && Model.Members is not null)
{
    <div class="text-center">
        <h1 class="display-4">Split Group @Model.Group.Name</h1>
        <p class="lead mb-4">Select which members you want to be in a new group</p>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["ErrorMessage"]
            </div>
        }
        <form asp-page-handler="Split" method="post">
            <table class="table table-striped border align-middle shadow-sm rounded">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var member in Model.Members)
                    {
                        <tr>
                            <td>@await userService.GetName(member)</td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="@member.Id" name="SelectedMembers[]" />
                            </td>
                        </tr>
                    }
                    <input value="@Model.Group.Id" name="groupId" hidden />
                </tbody>
            </table>
            <button class="btn btn-primary bnt-sm">
                Split Group
            </button>
        </form>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Split Group</h1>
        <p>No group found</p>
    </div>
}