@page
@using QuickFinder.Domain.Matchmaking
@model AddStudentsModel
@{
    ViewData["Title"] = "New Profile";
}
<div class="text-center">
    <h1 class="display-4">New Profile</h1>
    <div>
        <form method="post">
            <input id="name" name="name" required />
            <select id="availability" name="availability">
                <option value="@Availability.Daytime">Daytime</option>
                <option value="@Availability.Afternoons">Afternoons</option>
            </select>
            <button class="btn btn-primary" type="submit">MATCH</button>
        </form>

    </div>

</div>
