@page
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Find groups</h1>
    <nav>
        <ul class="list-group">
            <li class="list-group-item"><a asp-page="@StudentRoutes.Preferences()">Choose Preferences</a></li>
            <li class="list-group-item"><a asp-page="@StudentRoutes.Matching()">View available courses</a></li>
            <li class="list-group-item"><a asp-page="@StudentRoutes.Groups()">My groups</a></li>
        </ul>
    </nav>
    @if ((await authorizationService.AuthorizeAsync(User, "Student")).Succeeded)
    {
        <a href="https://discord.gg/W8twZqauKf" class="btn btn-primary mt-3">Join the QuickFinder Discord Server</a>
    }
</div>
