@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
}

<h1>Login</h1>
<p>Discord will share your email and username with us when logging in for the first time, and give us permission to
    invite you to course servers.</p>

<form asp-page-handler="Discord">
    <button class="btn btn-primary" type="submit">Login with Discord <i class="fab fa-discord"></i></button>
</form>