@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<p>Discord will share your email and username with us when logging in for the first time, and give us permission to invite you to course servers.</p>

<form asp-page-handler="Discord">
    <button type="submit">Login with Discord</button>
</form>