@page
@model GroupsModel
@{
    ViewData["Title"] = "Groups";
}

<div class="text-center">
    <h1 class="display-4">Your Groups</h1>
    <p>@Model.Groups.Count Groups</p>
    <ul>

        @foreach (var group in Model.Groups)
        {
            <li>
                <div><span> Group</span>
                    <ol>@foreach (var member in group.Members)
                        {
                            <li> @member.name (@member.email)</li>
                        }
                    </ol>
                    <form asp-page-handler="Leave">
                        <input name="groupId" hidden value="@group.Id">
                        <button type="submit">Leave Group</button>
                    </form>
                </div>
            </li>
        }
    </ul>
    <a href="/Groups">Go To groups</a>
</div>
