@page
@model MatchingModel
@{
    ViewData["Title"] = "Matchmaking";
}

<div class="text-center">
    <h1 class="display-4">Matchmaking</h1>
    <form method="post">
        <button type="">Start looking</button>
    </form>
    <a href="/Student/Groups">Go To groups</a>
</div>
