@page
@model MatchingModel
@{
    ViewData["Title"] = "Matchmaking";
}

<div class="text-center">
    <h1 class="display-4">Matchmaking</h1>
    <p>Courses</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Course in Model.Courses)
            {
                <tr>
                    <td>@Course.Name</td>
                    <td>
                        <form method="post">
                            <input name="CourseId" hidden value="@Course.Id">
                            <button type="submit">Find Group</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@StudentRoutes.Groups()">Go To groups</a>
</div>
