@page
@model PreferencesModel
@{
    <div>

        <h1>Your Preferences</h1>
        <partial name="_StatusMessage" for="StatusMessage" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <label>
                Language
                <select>
                    <option>English</option>
                    <option>Norwegian</option>
                </select>
            </label>

            <label asp-for="Input.NewAvailability" class="form-label"></label>
            <select asp-for="Input.NewAvailability" class="form-control">
                <option value="@Availability.Daytime">Day</option>
                <option value="@Availability.Afternoons">Afternoon</option>
            </select>
            <span asp-validation-for="Input.NewAvailability" class="text-danger"></span>
            <button type="submit">Submit</button>
        </form>
    </div>
}
