@page
@model PreferencesModel
@using QuickFinder.Domain.Matchmaking;
@{
    ViewData["Title"] = "Preferences";
}
@{
    <div>

        <h1>Your Preferences</h1>
        <partial name="_StatusMessage" for="StatusMessage" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <details>
                <summary>Languages</summary>
                @foreach (var language in Enum.GetValues<Languages>())
                {
                    if (Model.Input.SpokenLanguages.Contains(language))
                    {
                        <input type="checkbox" value="@language" name="Input.SelectedLanguages" checked />
                    }
                    else
                    {
                        <input type="checkbox" value="@language" name="Input.SelectedLanguages" />
                    }
                    <label>@language</label>
                }
            </details>

            <button type="submit">Submit</button>
        </form>
    </div>
}
